
/***********************
Übergreifende Formate
***********************/
.wrapper {
	display: flex; 
    
}

body {
	font-family: Arial;
	background-color: #b5e0ff;
	margin: 0px;
}

header {
	text-align: 
}

/***********************
Links
***********************/

a {
	color: #3F84D9;
	text-decoration: none; 
	margin-left: 10px;
}
a:visited {
	color: #3F84D9;
	text-decoration: none; 
}
a:active {
	color: #555;
	text-decoration: none; 
}

a:hover { 
	text-decoration: none; 
	color: #0051B5;
}

.nav-link:visited {
	color: white;
}

.nav-link:active {
	color: white;
}

.nav-link:hover { 
	text-decoration: none; 
	color: #0051B5;
}

/***********************
Kopf
***********************/
.header-imgage {
	width: 100%;	
	height: auto;
	}

.image-wrapper {
	position: relative;
	text-align: center;
}

.image-wrapper h1 {
    position: absolute;
	text-align: center;
    left: 0;
    top: 0;
    padding: 20px;
    border: 1px solid #FFF;
    width: 418px;
    color: #FFF;
    margin: 5px;
}

/***********************
Navigationbar
***********************/

.fixed-nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 15px;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: #83F6D5;
  text-align: center;
}

.active {
    background-color: #D2F5EB;
	padding: 23px;
}

li {	
	padding: 35px;
	text-align: center;
	display: inline;
}


/***********************
Sidebar
***********************/

ul li {
	margin: 0;
	list-style-type: none;
	padding: 10px;	
	text-align: left;
}

ul li a{
	display: block;
	
}

/***********************
Inhalt
***********************/
h1 {
	padding: 20px;
	font-family: Playfair Display;
	font-size: 50px;
	color: #6E6E6E;
}

h2 {
	padding: 5px;
	margin: 5px;
	font-family: Playfair Display;
	font-size: 40px;
	color: #6E6E6E;
}

h3 {
	font-family: Playfair Display;
	font-size: 25px;
	color: #6E6E6E;
}

h4 {
	font-family: Playfair Display;
	font-size: 20px;
	color: #6E6E6E;
}

h5 {
	font-family: Playfair Display;
	font-size: 15px;
	color: #6E6E6E;
}

p {
	margin-left: 10px;
}

aside {
	background: white;
	width: 15%;
	border-radius: 1%;
	padding: 5px;
	margin-top: 60px;
}

main {
	background: white;
	width: 100%;
	margin-left: 45px;
	margin-right: 45px;
	border-radius: 0%;
	margin-top: -4px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	text-align: center;	
}

time {
	font-family: Playfair Display;
	font-size: 15px;
	color: #6E6E6E;
}

.teaser {
	width: 100%;
	height: auto;
}

.teasersmall {
	width: 80%;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	
}

.popular-block {
	text-align: center;
	width: 100%;
	float: left;
}

#popular-item {
	text-align: center;
	color: grey;
	float: left;
	width: 25%;
	padding-bottom: 30px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.teaser-article {
	text-align: center;
	width: 100%; /*Warum ist der Block nicht mehr zentriert, wenn man die Prozentzahl runternimmt*/
}

article {
	margin-bottom: 15px;	
}

/***********************
Fuß
***********************/

footer
{
	margin-left: 
	35px;
}

 

